


*{
  box-sizing: border-box;

}
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

body{
  width: 100vw;
  height: 100vh;
  margin: 0;
  background: rgb(189, 102, 102);
  overflow: scroll;
}

h1{
  margin-left:  20px;
}